body {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        display: block;
    }
}

.big_mama {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 4em;
}