body {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        display: block;
    }
}

.lil_mama {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    padding-bottom: 4em;
}

header {
    overflow: hidden;
    position: fixed;   
    width: 100%;
}

/*==========Grid==========*/

.sm_grid {background-color: rgb(0, 89, 87); padding: 1em;}
.md_left, .md_right {
    background-color: rgb(0, 89, 87);
    width: 48%;
    float: left;
    padding: 1em;
}

.md_grid, .lg_grid {overflow: hidden;}

.md_left {
    margin-right: 4%;
}

.lg_left, .lg_right, .lg_nav {
    background-color: rgb(0, 89, 87);
    width: 30%;
    float: left;
    padding: 1em;
}
.lg_left  {
    margin-right: 5%;
    margin-left: 5%;
}

/*==========Type==========*/
.azo {
    padding-top: 2em;
}

/*==========Color==========*/
.red {
    overflow: hidden;
    margin-bottom: 2em;
.red_block {

    width: 100px;
    height: 100px;
    background-color: $primary_red;
    float: left;
}

ul {
    margin-left: 5%;
    float: left;
}
}


.teal {
    overflow: hidden;
    margin-bottom: 2em;
.teal_block {

    width: 100px;
    height: 100px;
    background-color: $primary_teal;
    float: left;
}
ul {
    margin-left: 5%;
    float: left;
}
}


.yellow {
    overflow: hidden;
    margin-bottom: 2em;
.yellow_block {

    width: 100px;
    height: 100px;
    background-color: $primary_yellow;
    float: left;
}
ul {
    margin-left: 5%;
    float: left;
}
}

.highlight {
    overflow: hidden;
    margin-bottom: 2em;
.highlight_block {

    width: 100px;
    height: 100px;
    background-color: $logo_highlight;
    float: left;
}
ul {
    margin-left: 5%;
    float: left;
}
}

.dk_grey {
    overflow: hidden;
    margin-bottom: 2em;
.dkgrey_block {

    width: 100px;
    height: 100px;
    background-color: $dk_text;
    float: left;
}
ul {
    margin-left: 5%;
    float: left;
}
}

.white {
    overflow: hidden;
    margin-bottom: 2em;
.white_block {

    width: 100px;
    height: 100px;
    background-color: $lt_text;
    border: 1px solid #ccc;
    float: left;
}
ul {
    margin-left: 5%;
    float: left;
}
}
/*==========Logo and Icons==========*/
.sm_logo{
    width: 100px;
    height: 100px;
}
.lg_logo {
    width: 200px;
    height: 200px;
}
/*==========Process==========*/

.process img {
    padding-bottom: 1.5em;
}

/*==========Icon Set==========*/
.veg, .gf {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.veg {margin-bottom: 2em;}

.trombone {
    width: 200px;
    height: 200px;
    position: relative;

    img {
        position: absolute;
    }
    
        .animated_trombone_handle {

            top: 62px;
            left: 64px;
        }
}

.umbrella, .streetcar {
    width: 200px;
    height: 200px;
}








