/*Variables for French Quarter Festival*/

$logo_highlight: rgb(223, 233, 37);
$primary_red: rgb(199, 11, 15);
$primary_teal: rgb(76, 155, 172);
$primary_yellow: rgb(220, 226, 105);
$main_nav: rgb(75, 70, 72);

$dk_text: rgb(75, 70, 72);
$lt_text: #ffffff;


/*Variables for Style Guide*/

$primary_text: #555;
$jewel: rgb(0, 89, 87);
$rare_jewel: rgba(0, 89, 87, .8);


h1, h2, h3, p, a, span, li {color:$primary_text;}

header {background-color:$rare_jewel;}