/*Variables for French Quarter Festival*/

$primary: "azo-sans-web", sans-serif;
$head: "phoreuscherokee", sans-serif;

/*Variables for StyleGuide*/

$styleguide: Helvetica ,sans-serif;



h1, h2, h3 {
    font-family: $styleguide;
}

a, p, span {
    font-family: $styleguide;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.55;
}

h1 {font-size: 3.25em; font-weight: 700;}
h2 {font-size: 3em; font-weight: 700;}
h3 {font-size: 2em;}

.azo p {font-family: $primary;}
.phoreus p {font-family: $head;}

h1 {padding-top: 3em; padding-bottom: 1em;}
h2 {padding: 1em 0 1em 0;}
h3 {padding: 1em 0;}
p {padding-bottom: 1em;}