/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  padding: 2em;
  text-align: right; }

.nav-collapse li {
  width: 100%;
  display: block;
  padding-bottom: 1em; }
  .nav-collapse li a {
    color: white;
    text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  width: 100%;
  float: right; }

.nav-collapse.opened {
  max-height: 9999px;
  overflow: hidden; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  overflow: hidden;
  color: white;
  padding: 2em 2em;
  float: right;
  text-decoration: none;
  text-transform: uppercase; }

@media screen and (min-width: 43.75em) {
  .nav-collapse li {
    display: inline-block; }

  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
/*Variables for French Quarter Festival*/
/*Variables for Style Guide*/
h1, h2, h3, p, a, span, li {
  color: #555; }

header {
  background-color: rgba(0, 89, 87, 0.8); }

.lg_left, .lg_right, .lg_nav, .md_left, .md_right, .sm_grid {
  color: white; }

/*Variables for French Quarter Festival*/
/*Variables for StyleGuide*/
h1, h2, h3 {
  font-family: Helvetica, sans-serif; }

a, p, span {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.55; }

h1 {
  font-size: 3.25em;
  font-weight: 700; }

h2 {
  font-size: 3em;
  font-weight: 700; }

h3 {
  font-size: 2em; }

.azo p {
  font-family: "azo-sans-web", sans-serif; }

.phoreus p {
  font-family: "phoreuscherokee", sans-serif; }

h1 {
  padding-top: 3em;
  padding-bottom: 1em; }

h2 {
  padding: 3em 0 1em 0; }

h3 {
  padding: 1em 0; }

p {
  padding-bottom: 1em; }

.lg_left, .lg_right, .lg_nav, .md_left, .md_right, .sm_grid {
  font-family: Helvetica, sans-serif; }

.phoreus h3 {
  padding-bottom: 0; }
.phoreus span {
  display: block;
  padding-bottom: 1em; }
.phoreus p {
  font-size: 2em; }
.phoreus .nope {
  font-family: Helvetica, sans-serif;
  font-size: 1.25em; }
.phoreus .example {
  padding-bottom: 0; }
.phoreus h2 {
  padding-top: .5em; }

.azo h3 {
  padding-bottom: 0; }
.azo span {
  display: block;
  padding-bottom: 1em; }
.azo p {
  font-size: 2em; }
.azo .nope {
  font-family: Helvetica, sans-serif;
  font-size: 1.25em; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
body img {
  max-width: 100%;
  display: block; }

.lil_mama {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 4em; }

header {
  overflow: hidden;
  position: fixed;
  width: 100%; }

/*==========Grid==========*/
.sm_grid {
  background-color: #005957;
  padding: 1em; }

.md_left, .md_right {
  background-color: #005957;
  width: 48%;
  float: left;
  padding: 1em; }

.md_grid, .lg_grid {
  overflow: hidden; }

.md_left {
  margin-right: 4%; }

.lg_left, .lg_right, .lg_nav {
  background-color: #005957;
  width: 30%;
  float: left;
  padding: 1em; }

.lg_left {
  margin-right: 5%;
  margin-left: 5%; }

/*==========Type==========*/
.azo {
  padding-top: 2em; }

/*==========Color==========*/
.red_block {
  width: 100px;
  height: 100px;
  background-color: #c70b0f; }

.teal_block {
  width: 100px;
  height: 100px;
  background-color: #4c9bac; }

.yellow_block {
  width: 100px;
  height: 100px;
  background-color: #dce269; }

.highlight_block {
  width: 100px;
  height: 100px;
  background-color: #dfe925; }

.dkgrey_block {
  width: 100px;
  height: 100px;
  background-color: #4b4648; }

.white_block {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ccc; }

/*==========Logo and Icons==========*/
.sm_logo {
  width: 100px;
  height: 100px; }

.lg_logo {
  width: 200px;
  height: 200px; }

/*==========Process==========*/
.process img {
  padding-bottom: 1.5em; }

@media screen and (min-width: 43.75em) {
  header {
    width: 200px;
    height: 100%;
    position: fixed;
    float: left; }

  h1 {
    padding-top: 1em; }

  .lil_mama {
    float: right;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 2em; } }
@media screen and (min-width: 55em) {
  .lil_mama {
    float: none;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
